<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>843133762043-elgjq05e7fd4gsg63lv5h7j76cekfqhn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843133762043-elgjq05e7fd4gsg63lv5h7j76cekfqhn</string>
	<key>API_KEY</key>
	<string>AIzaSyCFnGiwsl1cRD-UNz4HR89vf9rnTuSINJg</string>
	<key>GCM_SENDER_ID</key>
	<string>843133762043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.presensikita.presensikita</string>
	<key>PROJECT_ID</key>
	<string>presensikita-3d17a</string>
	<key>STORAGE_BUCKET</key>
	<string>presensikita-3d17a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843133762043:ios:ac4dd278b2a27bbfc0335e</string>
</dict>
</plist>